/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-family: 'Andika', Sans-Serif;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;

  /*Req 1*/
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1{
  color: #c12258;
  font-size: 32px;
  text-align: center;
  line-height: 2;

  /*Req 2*/
}

p{
  padding-top: 15px;
}

a{
  color: #b21f50;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/
:focus {
  border: dashed 3px #417243;
}


td{
  text-align: center;
  border-top: 2px solid #000000;
  padding: 10px;
}


.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #7e0825;
}

.rowhead{
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}


table{
    border: 5px solid #000000;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

table thead th:first-child{
  border-top-left-radius: 50px;
}
table thead th:last-child{
  border-top-right-radius: 50px;
}

table tbody th:last-child{
  border-bottom-left-radius: 50px;
}
table tbody td:last-child{
  border-bottom-right-radius: 50px;
}

/* I gave you the selector, but not the property-value pair.
You can use Inspect Element or your editor to find selectors. */
tr:nth-child(even){
  background-color: #d1d1d1;
}

/*Add selectors and rules here*/
tbody tr:hover {
  background-color: rgba(126, 8, 37, .25);
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  min-height: 75px;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
}
